/*
 *  Modules - Custom - Animations
 * */

@keyframes logo-animacion {
    0% {
        filter: invert(80%) sepia(88%) saturate(930%) hue-rotate(326deg) brightness(99%) contrast(104%);
    }

    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }

    100% {
        transform: rotateX(360deg);
        filter: invert(80%) sepia(88%);
    }
}