/*
 *  Modules - Custom - Header
 * */
@import "../custom/animations";

.logo-image {
    width: 90px;
    height: 56px;
}

.navbar-brand:hover .logo-image {
    animation: logo-animacion 2s infinite linear;
}

.navbar-brand:hover p {
    text-shadow: 1px 1px 3px var(--main-color);
    border-bottom: 1px dotted var(--main-color);
}