<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="icon" type="image/svg+xml" href="../assets/images/logo.svg">
    <title>Mi Curriculum</title>
</head>

<body class="body background-pattern">
    <header class="header">
        <a class="logo-container" href="../index.html">
            <img class="logo-image" src="../assets/images/logo.svg" alt="Main-Logo">
            <p class="logo-text">DAnder</p>
        </a>
        <nav class="main-menu">
            <ul class="main-menu-list">
                <li class="main-menu-list-item">
                    <a href="../index.html">Main</a>
                </li>
                <li class="main-menu-list-item">
                    <a href="javascript: void(0);">MyCv</a>
                </li>
                <li class="main-menu-list-item">
                    <a href="./works.html">Works</a>
                </li>
                <li class="main-menu-list-item">
                    <a href="./about.html">AboutMe</a>
                </li>
                <li class="main-menu-list-item">
                    <a href="./archive.html">Archive</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="title-container">
            <h1>Mi Curriculum Vitae</h1>
            <p>Un poco de mi experiencia!</p>
        </section>
        <section class="cv-container">
            <section class="cv-section">
                <div class="photo-area">
                    <img src="../assets/images/mycv-images/person-icon.png" alt="una foto mía" class="my-photo">
                </div>
                <ul class="no-bullet-list personal-data">
                    <li class="personal-data-item">
                        <p class="data-description">Nombre</p>
                        <p class="data-value">Douglas Anderson</p>
                    </li>
                    <li class="personal-data-item">
                        <p class="data-description">segunda linea</p>
                        <p class="data-value">segundo valor</p>
                    </li>
                </ul>
            </section>
            <section class="cv-section">
                <h4 class="cv-section-title">Experiencia</h4>
                <ul class="no-bullet-list cv-section-list">
                    <li>
                        <h5>Desarrollador Fullstack .NET sr</h5>
                        <p><strong>Empresa X</strong></p>
                        <p class="cv-section-list-description">Como desarrollador fullstack sr me encargo de llevar adelante code reviews, analizar y solucionar problemáticas de los clientes y mejorar la arquitectura de las aplicaciones que tengo a cargo</p>
                        <h6>skills</h6>
                        <ul class="no-bullet-list cv-section-sub-list">
                            <li>.Net Core</li>
                            <li>Html5</li>
                            <li>CSS3</li>
                            <li>Micro servicios</li>
                        </ul>
                    </li>
                    <li>
                        <h5>Desarrollador Fullstack .NET ssr</h5>
                        <p>Empresa Y</p>
                        <p class="cv-section-list-description">Como desarrollador fullstack ssr me encargo de llevar adelante el desarrollo de la aplicación utilizando buenas prácticas de desarrollo</p>
                        <h6>skills</h6>
                        <ul class="no-bullet-list cv-section-sub-list">
                            <li>.Net Core</li>
                            <li>Html5</li>
                            <li>CSS3</li>
                            <li>Micro servicios</li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="cv-section">
                <h4 class="cv-section-title">Educación</h4>
                <ul class="no-bullet-list cv-section-list">
                    <li>
                        <h5 class="cv-section-title">Educación académica</h5>
                        <ul class="no-bullet-list cv-section-list">
                            <li>
                                <h5>UTN FRBA (Universidad Tecnologia Nacional - Facultad Regional Buenos Aires)</h5>
                                <h6>Ingeniería en Sistemas de información</h6>
                            </li>
                            <li>
                                <h5>Escuela Técnica N° 36 Almirante Guillermo Brown</h5>
                                <h6>Tecnicatura en computación</h6>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 class="cv-section-title">Cursos</h5>
                        <ul class="no-bullet-list cv-section-list">
                            <li>
                                <h5>Desarrollo Web</h5> 
                                <h6>@CoderHouse</h6>
                            </li>
                            <li>
                                <h5>Criptografía y Blockchain</h5>
                                <h6>@Educación IT</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="cv-buttons-container">
                <button class="button main-button">Descargar</button>
            </section>
        </section>
    </main>
    <footer class="footer">
        <section class="site-map-container">
            <nav class="site-map-menu">
                <ul class="site-map-menu-list">
                    <li class="site-map-menu-list-item">
                        <a href="../index.html">Main</a>
                    </li>
                    <li class="site-map-menu-list-item">
                        <a href="javascript: void(0);">MyCv</a>
                    </li>
                    <li class="site-map-menu-list-item">
                        <a href="./works.html">Works</a>
                    </li>
                    <li class="site-map-menu-list-item">
                        <a href="./about.html">AboutMe</a>
                    </li>
                    <li class="site-map-menu-list-item">
                        <a href="./archive.html">Archive</a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="copyright-container">
            <p class="copy">Copyright &copy;</p>
        </section>
        <section class="contact-form-container">
            <form action="javascript: void(0);" method="POST" class="contact-form">
                <input id="form-email-input" type="email" name="mail" placeholder="ingresá tu email!"
                    class="form-input-mail">
                <textarea id="form-text-area" name="motivo" placeholder="ingresá tu mensaje!" class="form-text-area"
                    maxlength="200"></textarea>
                <section class="bottom-form-section">
                    <p id="form-text-area-char-counter" class="form-text-area-char-counter">0/200</p>
                    <input id="form-text-area-reset-button" type="reset" value="reiniciar" class="form-input-button"
                        disabled>
                    <input type="submit" value="contactar!" class="form-input-button">
                </section>
            </form>
        </section>
    </footer>
    <script src="../assets/js/functions.js"></script>
</body>

</html>