@import "./modules/custom/commons";

@import "./modules/custom/extends";
@import "./modules/custom/mixins";

@import "./modules/bootstrap/header";
@import "./modules/bootstrap/utilities";
@import "./modules/bootstrap/cards";
@import "./modules/bootstrap/carousel";
@import "./modules/bootstrap/buttons";
@import "./modules/bootstrap/forms";

@import "./modules/custom/header";
@import "./modules/custom/footer";


@import "./modules/custom/querys";