/*
 *  Modules - Custom - Commons
 * */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;800&display=swap");
:root {
  --main-color: #FAA916;
  --light-color: #FBFFFE;
  --main-bg-color: #6D676E;
  --darken-color: #1B1B1E;
  --darken-color-50: #1b1b1e80;
  --danger-color: #96031A;
  --main-rgb-color: 250, 169, 22;
  --light-rgb-color: 251, 255, 254;
  --main-bg-rgb-color: 109, 103, 110;
  --darken-rgb-color: 27, 27, 30;
  --darken-rgb-color-50: 27, 27, 30, .5;
  --danger-rgb-color: 150, 3, 26;
  --bs-dark-rgb: 33, 37, 41;
  --bs-warning-rgb: var(--main-rgb-color);
  --bs-navbar-color: var(--main-rgb-color);
  --main-font: 'Inter', sans-serif; }

* {
  font-family: var(--main-font); }

.vh-50 {
  max-height: 50vh !important; }

.personal-photo {
  height: 150px;
  width: 130px; }

.text-shadow-dark {
  text-shadow: 1px 1px 7px var(--darken-color) !important; }

.background-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'><g fill-rule='evenodd'><g id='hexagons' fill='%239C92AC' fill-opacity='0.10' fill-rule='nonzero'><path d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/></g></g></svg>"), linear-gradient(to top, #FBFFFE 0%, #6D676E 75%); }

/*
 *  Modules - Custom - Extends
 * */
.footer .navbar-section .navbar-nav a {
  text-decoration: none; }

.footer .navbar-section .navbar-nav a {
  color: var(--darken-color); }

/*
 *  Modules - Custom - Mixins
 * */
/*
*  Modules - Bootstrap - Header
* */
.navbar {
  --bs-navbar-color: var(--main-color);
  justify-content: flex-end; }

.nav-link:hover {
  text-shadow: 1px 1px 3px var(--main-color);
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
  border-bottom: 1px dotted; }

.nav-item:not(.active):hover {
  text-shadow: 1px 1px 3px var(--main-color); }

/*
 * Modules - Bootstrap - Utilities
 */
.text-black-50 {
  color: var(--darken-color) !important; }

.fw-semibold {
  font-weight: 500 !important; }

.link-warning {
  color: var(--main-color) !important; }

/*
 *   Modules - Bootstrap - Cards
 **/
.card {
  max-width: 300px;
  height: 500px;
  color: var(--darken-color-50) !important; }
  .card .card-img-top {
    max-width: 100%;
    max-height: 40%; }
  .card .card-title {
    color: var(--main-color);
    margin-top: .5vh;
    min-height: 10%; }
  .card .card-text {
    height: 35%;
    overflow-y: auto; }
  .card .card-link {
    color: var(--darken-color-50) !important;
    text-decoration: none;
    font-weight: 500; }
    .card .card-link:hover {
      color: var(--main-color) !important;
      text-decoration: underline; }

/*
 *  Modules - bootstrap - carousel
 * */
#carouselExampleIndicators .carousel-inner {
  height: 50vh; }
  #carouselExampleIndicators .carousel-inner .carousel-item img {
    margin: 0 auto;
    max-width: 100%;
    height: 50vh;
    display: block; }

/*
 * Modules - Bootstrap - Buttons
 * */
.btn-warning {
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color); }

.btn-outline-warning {
  --bs-btn-color: var(--main-color);
  --bs-btn-disabled-color: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color); }

/*
 * Modules - Bootstrap - Forms
 * */
.form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0px 0px 6px 0.5px var(--main-color); }

/*
 *  Modules - Custom - Header
 * */
/*
 *  Modules - Custom - Animations
 * */
@keyframes logo-animacion {
  0% {
    filter: invert(80%) sepia(88%) saturate(930%) hue-rotate(326deg) brightness(99%) contrast(104%); }
  50% {
    transform: rotateX(180deg) rotateY(180deg); }
  100% {
    transform: rotateX(360deg);
    filter: invert(80%) sepia(88%); } }

.navbar-brand .logo-image {
  width: 90px;
  height: 56px; }

.navbar-brand:hover .logo-image {
  animation: logo-animacion 2s infinite linear; }

.navbar-brand:hover p {
  text-shadow: 1px 1px 3px var(--main-color);
  border-bottom: 1px dotted var(--main-color); }

/*
 *  Modules - Custom - Footer
 * */
#form-text-area {
  resize: none; }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "navSection copySection contactSection";
  background-color: rgba(var(--bs-dark-rgb), 0.5);
  border-top: 1px solid rgba(var(--bs-dark-rgb), 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem; }
  .footer .navbar-section {
    grid-area: navSection; }
    .footer .navbar-section .navbar-nav a.active {
      color: var(--main-color);
      text-decoration: underline; }
  .footer .copy-section {
    grid-area: copySection; }
  .footer .contact-section {
    grid-area: contactSection; }

/*
 *  Modules - Custom - Header
 * */
@media (min-width: 769px) {
  .card {
    height: 350px;
    max-width: 250px;
    transition: transform .5s; }
    .card .card-img-top {
      min-width: 248px;
      min-height: 139px; }
    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 0.5rem var(--light-color) !important; } }

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 2fr;
    grid-template-areas: "navSection contactSection"; } }

@media (max-width: 425px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas: "contactSection"; } }
